@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:math";

.no-encontrado {

    img {
        width: 50%;
        margin: 0 auto;

        @include m.tablet {
            width: 50%;
            margin: 0 0 0 auto;
        }
        
    }
    .column {
        flex-direction: column;
        @include m.tablet {
        align-items: baseline;
            
        }
    }
}